# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
blog_project/

# Database
db.sqlite3

# Media Files (YEH WALA COPIED BLOCK ADD KAREIN)
media/

# VS Code
.vscode/

# Static Files
staticfiles/

# Environment Variables
.env